.box {
    border-radius: 25px;
    position: absolute;
    top: 250px;
    left: 350px;
    height: 35px;
    width: 400px;
    border: 1px solid;
    z-index: -1;

}

.right_button {
    background-color: white;
    color: black;
    position: absolute;
    top: 30px;
    right: 90px;
}

.left_button {
    background-color: white;
    color: black;
    position: absolute;
    top: 30px;
    right: 170px;
}